[Unit]
Description=Inhibit idle service when playing music
Requires=hypridle.service
After=hypridle.service
After=graphical-session.target

[Service]
Type=simple
ExecStart=wayland-pipewire-idle-inhibit
Restart=on-failure
Slice=background-graphical.slice

[Install]
WantedBy=graphical-session.target
