// Copyright (C) 2024, Anderson Lizarazo Tellez.

// Top status bar.
// Source: <https://www.reddit.com/r/zellij/comments/1czw6rt/comment/l5l987f>
layout {
   pane size=1 borderless=true {
      plugin location="compact-bar"
   }
   pane
}
